* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: black;
}

.logo {
    position: relative;
    top: 4.5vh; left: 26px;
}

img, svg {
    width: 20vh;
}

.tituloHeader {
    color: white;
    position: relative;
    top: 9vh; left: 50px;
}

.h1, h1 {
    font-size: 10vh;
    font-weight: bolder;
}

.menuHeader {
    position: relative;
    top: 11.5vh; left: 20px;
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.menuHeader ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menuHeader li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.menuHeader li :hover {
    font-style: italic;
    color: #008AFF;
}

.footer {
    list-style-type: none;
    justify-content: flex-end;
}

.footer li a {
    text-decoration: none;
    padding: 1px;
    margin: 2px;
}

.footer li :hover {
    background-color: black;
}

.footer__socialNetworks a {
    color: white;
    height: 48px;   
    width: 48px;
    list-style-type: none;
    border-radius: 50%;
    margin: 0 20px;
    transition: transform 0, 5s;
    font-size: 2rem;
    cursor: pointer;
}

.footer__socialNetworks a:hover {
    transform: scale(1.2);
    color: #008AFF;
    background-color: black;
}

/* index html */

body {
    background-color: black;
}

.container, .container-lg, .container-md, .container-sm {
    height: 500px;
}

/* .carousel-inner .carousel-item img {
    width:340px; 
    height:340px;
} */